apiVersion: apps/v1
kind: Deployment
metadata:
  name: csi-report-studio-ui
  namespace: csi-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: csi-report-studio-ui
      tier: frontend
      track: stable
  template:
    metadata:
      labels:
        app: csi-report-studio-ui
        module: reporting
        tier: frontend
        track: stable
    spec:
      containers:
        - image: 'harbor.cs.local/vidaplus/report-studio-ui:4.1.14.3'
          imagePullPolicy: Always
          name: csi-report-studio-ui
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 25m
              memory: 256Mi
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: csi-report-studio-ui-service
  namespace: csi-dev
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: csi-report-studio-ui
  type: ClusterIP

