apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-test-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: security-test-ui
      tier: frontend
      track: stable
  template:
    metadata:
      labels:
        app: security-test-ui
        tier: frontend
        track: stable
    spec:
      containers:
        - image: 'harbor.cs.local/vidaplus/security-test-ui:0.0.0.1'
          imagePullPolicy: IfNotPresent
          name: csi-ehr-er-ui
          ports:
            - containerPort: 80
              name: http
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 256Mi
      imagePullSecrets:
        - name: regcred
